#page {
    overflow: hidden;
    position: relative;
}


// Background
main {
    background-color: #FF2277;
    background-image: linear-gradient(0deg, rgba(0,221,176,1) 0%, rgba(0,221,176,0) 35%), radial-gradient(circle at 15.09% 35.22%, #FF2277, rgba(255, 70, 131, 0) 36%), radial-gradient(circle at 5.49% 87.64%, #FF6860, rgba(255, 104, 96, 0) 63%), radial-gradient(circle at 34.53% 61.69%, #FF675D, rgba(255, 104, 96, 0) 51%), radial-gradient(circle at 91.35% 16.48%, #E6298F, rgba(255, 104, 96, 0) 100%), radial-gradient(circle at 83.12% 46.55%, #CD34CB, transparent 62%), radial-gradient(circle at 52.77% 80.12%, #FF2C90, transparent 100%), radial-gradient(circle at 62.19% 11.02%, #FF2277, transparent 43%), radial-gradient(circle at 46.45% 38.11%, #FF675D, transparent 39%), radial-gradient(circle at 89.45% 82.08%, #D45BA5, transparent 100%), radial-gradient(circle at 1.85% 5.15%, #FF2277, transparent 100%), radial-gradient(circle at 50% 50%, #FF2277, #FF2277 100%);
    width: 0;
    position: relative;
    overflow: hidden;
    height: 100vh;

    z-index: 2;

    &::after {
        @include absolute-cover;
        background-repeat: repeat;
        background-size: 100px;
        background-image: url('/dist/pattern.png');
        opacity: .04;
        z-index: 1;
    }
}


.grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 999;

    @media #{$phone} {
        height: 70%;
        top: 30%;
        position: relative;
    }
}

.grid__card {
    position: absolute;
    bottom: 3.75vw;
    right: 3.75vw;
    z-index: 5;
    max-height: 535px;
    width: 400px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
    transition-duration: 600ms;
    opacity: 0;
    z-index: 999;

    &:hover {
        transform: skew(-3deg, 3deg) scale(1.1);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) all;
        transition-duration: 600ms;

        @media #{$phone} {
            transform: none;
        }
    }

    @media #{$phone} {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        min-height: 250px;
        max-height: 100%;
        transform: skew(0) !important;
    }
}

// Card Style
.grid__cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 60px 120px -40px rgba($c-black, 0.25);
}


.grid__cardInner--hide {
    opacity: 0;
    pointer-events: none;
}

.grid__cardBg {
    width: 100%;
    height: 100%;
    background-color: $c-white;
    box-shadow: 0 60px 120px -40px rgba($c-black, 0.25);
    position: relative;
}

.grid__image {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    top: 40px;
    right: 40px;
    display: block;
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.grid__title {
    font-family: $ff-alt;
    font-weight: normal;
    @include fsz(18px);
    line-height: 1.55;
    letter-spacing: 0.1px;
    width: 70%;
    position: absolute;
    bottom: 35px;
    left: 40px;
    margin: 0;
    opacity: 0;

    span {
        display: block;
        margin-top: 25px;
        @include fsz(13px);
        letter-spacing: 1px;
        line-height: 1.2;
        display: none;
        opacity: .75;

        @media #{$phone} {
            display: block;
        }
    }

    @media #{$phone} {
        bottom: 7%;
    }
}

.grid__content {
    opacity: 0;
    position: absolute;
}

// Letter Style
.letter {
    position: relative;
    width: 100%;
    max-width: 700px;
    max-width: clamp(43.75rem, 42vw, 42vw);
    margin: 18vh auto 0;
    padding: 3.5vw;
    pointer-events: none;
    background-color: transparent;
    display: none;

    & > * {
        position: relative;
        opacity: 0;
    }

    @media #{$phone} {
        margin: -50vh 20px 0;
        padding: 40px 25px 80px;
        width: calc(100vw - 40px);
        height: auto;
    }
}

.letter--open {
    pointer-events: auto;
    display: block;
    z-index: 999999;
}

.letter__bg {
    position: absolute;
    background-color: $c-white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -40px 200px 40px rgba($c-black, 0.15);
}

.letter__img {
    position: relative;
    width: clamp(3.75rem, 3.5vw, 9.6rem);
    width: clamp(3.75rem, 1.07vw, 9.6rem);
    margin-bottom: 3.5vw;

    @media #{$phone} {
        margin-bottom: 35px;
    }
}

.letter__bg,
.letter__img {
    transform-origin: 0 0;
}

.letter__content {
    font-size: clamp(1.0625rem, 1.07vw, 2.5rem);

    h1 {
        font-family: $ff-alt;
        font-weight: normal;
        font-size: clamp(2rem, 2.4vw, 9.6rem);
        line-height: 1.2;
        letter-spacing: -0.5px;
        width: 100%;
        margin-bottom: 15px;
    }

}

.letter__footer {
    text-align: right;
    margin-top: 60px;

    address {
        font-style: normal;
    }

    a {
        @include fsz(18px);
        color: $c-text;
        font-family: $ff-alt;

        &:hover,
        &:focus {
            color: #FF2277;
            @include easeout;
        }

    }
}

.letter__footerTitle {
    @include fsz(14px);
    opacity: .75;
    margin-bottom: 5px;
    font-weight: normal;
    margin-top: 30px;
}

.colophon {
    @include fsz(14px);
    font-family: $ff-alt;
    opacity: .75;
    margin-bottom: 5px;
    font-weight: normal;
    margin-top: 30px;
    display: block;

    a {
        @include fsz(14px);
    }
}
